#position1{
  left: 143px;
  bottom: 81px;
}

#position2{
  left: 190px;
  bottom: 65px;
}

#position3{
  left: 275px;
  bottom: 60px;
}

#position4{
  left: 350px;
  bottom: 60px;
}

#position5{
  left: 425px;
  bottom: 75px;
}

#position6{
  left: 477px;
  bottom: 65px;
}

#position7{
  left: 555px;
  bottom: 60px;
}

#position8{
  left: 600px;
  bottom: 60px;
}

#position9{
  left: 645px;
  bottom: 65px;
}

#position10{
  left: 700px;
  bottom: 65px;
}

#position11{
  left: 755px;
  bottom: 65px;
}

#position12{
  left: 820px;
  bottom: 55px;
}

#position13{
  left: 860px;
  bottom: 65px;
}

#position14{
  left: 885px;
  bottom: 65px;
}

#position15{
  left: 970px;
  bottom: 45px;
}

#position16{
  left: 103px;
  bottom: 66px;
}

#position17{
  left: 37px;
  bottom: 75px;
}

#position18{
  left: 10px;
  bottom: 26px;
}

#position19{
  left: 89px;
  bottom: 1px;
}

#position20{
  left: 166px;
  bottom: -19px;
}

#position21{
  left: 225px;
  bottom: 9.3px;
}

#position22{
  left: 278px;
  bottom: -27px;
}

#position23{
  left: 329px;
  bottom: 07px;
}

#position24{
  left: 449px;
  bottom: -67px;
}

#position25{
  left: 506px;
  bottom: -9.5px;
}

#position26{
  left: 566px;
  bottom: -33px;
}

#position27{
  left: 635px;
  bottom: -65px;
}

#position28{
  left: 724px;
  bottom: -49.7px;
}

#position29{
  left: 796px;
  bottom: -15px;
}

#position30{
  left: 849px;
  bottom: -43px;
}

#position31{
  left: 933px;
  bottom: -75px;
}

#position32{
  left: 1002px;
  bottom: -39px;
}

#position33{
  left: 12px;
  bottom: -120.2px;
}

#position34{
  left: 66px;
  bottom: -129px;
}

#position35{
  left: 150px;
  bottom: -119px;
}

#position36{
  left: 245px;
  bottom: -139.2px;
}

#position37{
  left: 322px;
  bottom: -139px;
}

#position38{
  left: 382px;
  bottom: -79px;
}

#position39{
  left: 592px;
  bottom: -149px;
}

#position40{
  left: 682px;
  bottom: -149px;
}

#position41{
  left: 752px;
  bottom: -119px;
}

#position42{
  left: 982px;
  bottom: -170px;
}

#position43{
  left: 892px;
  bottom: -170px;
}

#position44{
  left: 502px;
  bottom: -170px;
}
